<launch>
	<node name="rail_segmentation" pkg="rail_segmentation" type="rail_segmentation" output="screen">
    <!-- Rail segmentation parameters -->
    <param name="debug" value="true" />
    <param name="point_cloud_topic" value="/camera/depth/color/points" />    
    <param name="use_color" value="false" />
    <param name="crop_first" value="true" />
    <param name="label_markers" value="true" />
    <param name="min_cluster_size" value="100" />
    <param name="min_cluster_size" value="2000" />


	</node>
  
</launch>
